# Dependencies
node_modules/

# Vite build output
dist/

# Logs & misc
*.log
.DS_Store
.env
.env.*
__pycache__/
*.pyc
venv/
.venv/

# HF deploy temp worktree (created by scripts/deploy-hf.ps1)
.hf-deploy/
